gradle-wrapper.jar
/.gradle
/captures/
/gradlew
/gradlew.bat
/local.properties
GeneratedPluginRegistrant.java
.cxx/

# Signing keys - keep secret (except foss-public which is for developers)
# See https://flutter.dev/to/reference-keystore
/key-properties/*
!/key-properties/foss-public-key.properties
**/*.keystore
**/*.jks
!**/foss-public-key.jks
